/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

 body {
  background-color: #ECEFF1;
 }

.form-dose {
  padding-top: 45px;
}



.cocktail-img {
  border-radius: 50%;
}

.font-small {
  font-size: 12px;
  position: relative;
  bottom: -5px;
}

.btn-top {
  margin-top: 20px;
}
